ion-content {
  background: linear-gradient(to top, #6dd5fa, #ffffff); 
  font-family: "poppins";
}

ion-navbar{
  background: linear-gradient(to top, #6dd5fa, #ffffff); 
  font-family: "poppins";

}

ion-card{
  background-color: transparent;
}

ion-item{
  background-color: transparent;
}