.paragraph{
  text-align: justify;
  font-family: "poppins";
}
.header {
  font-family: "poppins";
  text-align: center;
}
ion-title{
  text-align: left;
}
#list{
  font-family: "poppins";
}

ion-content {
  background: linear-gradient(to top, #6dd5fa, #ffffff); 
}

ion-navbar{
  background: linear-gradient(to top, #6dd5fa, #ffffff); 
}

img {
  margin: auto;
}

.logo{
  width: 50%;
  margin: auto;
}

 .healthy{
  text-align: center;
}
