.paragraph{
  text-align: justify;
  font-family: "century gothic";
}
.header {
  font-family: "century gothic";
}
#list{
  font-family: "century gothic";
}

ion-content {
  background: linear-gradient(to top, #6dd5fa, #ffffff); 
}

ion-navbar{
  background: linear-gradient(to top, #6dd5fa, #ffffff); 
}

img src{
  max-height: 25px;
  position: center;

}
